.melio-drawer {
  height: 100%;
  background-color: white;
  transition: all 0.3s ease-in-out;
  right: -100%;
  top: 0;
  position: fixed;
}

.melio-drawer-header-text {
  font-size: 20px;
  font-weight: 500;
}

.melio-drawer-open {
  right: 0;
}

.melio-drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid var(--color-border);
}

@media only screen and (max-width: 500px) {
  .melio-drawer {
    width: 100%;
  }
  .melio-drawer-backdrop {
    display: none;
  }
}