@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  --color-text: #ffffff;
  --color-background: transparent;
  --color-primary: #7849ff;
  --color-secondary: #d0ff49;
  --color-error: #D80E25;
  --color-success: #00C853;
  --color-action-tertiary-stroke: #8B919B;
  --color-disabled: rgba(0, 0, 0, 0.26);
  --color-border: #E4E7EC;
  --color-caption: #8B919B;
  font-family: 'Poppins', serif;
  font-weight: 400;
  font-style: normal;
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
